#Main a {
    text-decoration:auto!important;
}
code,pre {
    /* color:rgb(201,209,217); */
	font-family:Consolas;
	text-align:left;
	padding:2px;
	padding-left:0.8em;
	border-radius:5px;
	counter-reset:line;
	white-space:pre-wrap;
    word-spacing:normal;
	word-break:normal;
	max-width:100%;
    overflow:auto;
}
p {
	margin:none;
}
ul ul {
    list-style-type:none
}
Lead>ul>ul>li a {
	padding:4px 16px;
}